<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MIT::top_level" title="MIT" module="MIT_HomePagePopup" sortOrder="9999" resource="Magento_Backend::content"/>
        <add id="MIT_HomePagePopup::mit_homepagepopup_images" title="Homepage Popup" module="MIT_HomePagePopup" sortOrder="9999" resource="Magento_Backend::content" parent="MIT::top_level" action="mit_homepagepopup/popupimage/index"/>
    </menu>
</config>
