<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route id="mit_mobilemenu" frontName="mit_mobilemenu">
			<module name="MIT_MobileMenu"/>
		</route>
	</router>
</config>
