<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Mobile Version && Call Us Now |  Store Info -->
    <preference for="MIT\Configuration\Api\ConfigurationApiInterface" type="MIT\Configuration\Model\Api\ConfigurationApi"/>  
</config>