<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="MIT\Pages\Api\ContentManagementInterface" type="MIT\Pages\Model\ContentManagement"/>
	<preference for="MIT\Pages\Api\CreateAccountManagementInterface" type="MIT\Pages\Model\CreateAccountManagement"/>
</config>