<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="MIT\WeeklyPromo\Api\WeeklyPromotionInterface" type="MIT\WeeklyPromo\Model\Api\WeeklyPromotion" />
    <preference for="MIT\WeeklyPromo\Api\Data\WeeklyPromotionManagementInterface" type="MIT\WeeklyPromo\Model\WeeklyPromotionManagement"/>
</config>