<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magento\Sales\Model\Order\Address\Validator" type="MIT\Customer\Model\Order\Address\Validator"/>
	<preference for="Magento\Quote\Model\Quote\Address\Validator" type="MIT\Customer\Model\Quote\Address\Validator"/>
	<preference for="Magento\Ui\DataProvider\EavValidationRules" type="MIT\Customer\DataProvider\EavValidationRules"/>
	<preference for="Magento\Sales\Model\Order\Email\SenderBuilder" type="MIT\Customer\Model\Order\Email\SenderBuilder"/>
	<preference for="Magento\Customer\Model\EmailNotification" type="MIT\Customer\Model\CustomerEmailNotification"/>
	<preference for="Magento\Customer\Model\CustomerExtractor" type="MIT\Customer\Model\CustomerExtractor"/>
	<preference for="Magento\Customer\Controller\Account\LoginPost" type="MIT\Customer\Controller\Account\LoginPost"/>
	<preference for="Magento\Customer\Controller\Account\ForgotPasswordPost" type="MIT\Customer\Controller\Account\ForgotPasswordPost"/>
	<preference for="Magento\Sales\Controller\Adminhtml\Order\Email" type="MIT\Customer\Controller\Adminhtml\Order\Email"/>
	<preference for="Magento\Sales\Block\Adminhtml\Order\Create\Form\Account" type="MIT\Customer\Block\Adminhtml\Order\Create\Form\Account"/>
	<preference for="Magento\Sales\Block\Adminhtml\Order\View" type="MIT\Customer\Block\Adminhtml\Order\View"/>
	<preference for="Magento\Framework\Data\Form\Element\Text" type="MIT\Customer\Data\Form\Element\Text"/>
	<preference for="MIT\Customer\Api\CustomerCaptchaInterface" type="MIT\Customer\Model\Api\CustomerCaptcha"/>
	<preference for="MIT\Customer\Api\Data\CustomCaptchaInterface" type="MIT\Customer\Model\CustomCaptcha"/>
	<preference for="MIT\Customer\Api\CustomAccountManagementInterface" type="MIT\Customer\Model\Api\CustomAccountManagement"/>
	<preference for="MIT\Customer\Api\Data\AccountConfigInterface" type="MIT\Customer\Model\AccountConfig"/>
	<preference for="Magento\Customer\Controller\Account\EditPost" type="MIT\Customer\Controller\Account\EditPost"/>
	<preference for="Magento\Customer\Block\Widget\Name" type="MIT\Customer\Block\Widget\Name" />
	<preference for="MIT\Customer\Api\Data\CustomerAccountInterface" type="MIT\Customer\Model\CustomerAccount" />
	<type name="Magento\Sales\Block\Adminhtml\Order\View">
		<plugin name="MIT_Customer_Plugin_Magento_Sales_Block_Adminhtml_Order_View" type="MIT\Customer\Plugin\Block\Adminhtml\Order\View"/>
	</type>
	<type name="Magento\Customer\Model\AccountManagement">
		<plugin name="MIT_Customer_Plugin_Magento_Customer_Model_AccountManagement" type="MIT\Customer\Plugin\Magento\Customer\Model\AccountManagement" sortOrder="10" disabled="false"/>
	</type>
	<type name="Magento\Integration\Model\CustomerTokenService">
		<plugin name="MIT_Customer_Plugin_Magento_Integration_Model_CustomerTokenService" type="MIT\Customer\Plugin\Magento\Integration\Model\CustomerTokenService" sortOrder="10" disabled="false"/>
	</type>
	<type name="Magento\Customer\Model\Address\AbstractAddress">
		<plugin name="MIT_Customer_Plugin_Magento_Customer_Model_Address_AbstractAddress" type="MIT\Customer\Plugin\Magento\Customer\Model\Address\AbstractAddress" sortOrder="10" disabled="false"/>
	</type>
	<type name="Magento\Customer\Api\CustomerRepositoryInterface">
		<plugin name="MIT_Customer_Plugin_Magento_Customer_Api_CustomerRepositoryInterface" type="MIT\Customer\Plugin\Magento\Customer\Api\CustomerRepositoryInterface" sortOrder="10" disabled="false"/>
	</type>
</config>

